<div class="box">
<h1><span id="symbol">&#8225</span> About me</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores corporis voluptates voluptatum, dolor at ipsum vitae assumenda minima pariatur iure praesentium libero, tempore accusantium doloribus. Dolor, eius dolorum id tempore!</p>
</div>

