<h1>BILL CHAU DESIGN</h1>
<h2>What you wear is how you present yourself to the world, especially today when human contacts go so fast. Fashion is instant language.</h2>
<p>Miuccia Prada</p>
<a href="/contacts">Main menu</a>
<!-- <ul>
<li><a href ='/contacts'>Show all contacts</a></li>
<li><a href =''>Add a contact</a></li>
<li><a href =''>Modify an existing contact</a></li>
<li><a href =''>Delete a contact</a></li>
</ul> -->

<%=Time.now.ctime%>