<div class="box">
<h1><span id="symbol">&#8225</span> BILL CHAU DESIGN</h1>
<p>What you wear is how you present yourself to the world, especially today when human <span class="highlight">contacts</span> go so fast. Fashion is instant language.</p>
<p id="author">Miuccia Prada</p>

<br></br>
<div class="button">
	<a href="/contacts">Enter</a>
</div>
</div>


