<h1>Welcome to <%=@crm_app_name%></h1>
<p>Main menu</p>
<ul>
<li><a href ='/contacts'>Show all contacts</a></li>
<li><a href =''>Add a contact</a></li>
<li><a href =''>Modify an existing contact</a></li>
<li><a href =''>Delete a contact</a></li>
</ul>

<%=Time.now.ctime%>