<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bill Chau Design</title>
	<link type="text/css" rel="stylesheet" href="/normalize.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
	<nav>
	<ul>
		<li><a id="logo" href="/"><span id="symbol">&#8225</span> BILL CHAU DESIGN</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/photos">Photos</a></li>
		<li><a href="/FAQ">FAQ</a></li>
		<li><a href="/contacts">Contacts</a></li>
	</ul>
	</nav>
</header>
<div class="side_box">
	<aside>
	<h4>Assignment 1</h4>
	<h6>Collaborative writing</h6>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam explicabo, quaerat aliquid. Repellat quos obcaecati facere quod dignissimos at vel corrupti nemo optio aspernatur, similique aperiam cumque quas voluptates magni.</p>
	<h4>Assignment 2</h4>
	<h6>Inception</h6>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem impedit similique nihil ipsa consectetur voluptas nulla voluptatem laborum ratione dolorum eligendi, ex vitae facere reiciendis omnis quam adipisci natus, provident.</p>
	<h4>Assignment 3</h4>
	<h6>Mars rover</h6>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam fuga commodi assumenda, autem et fugit praesentium, facere ad, quibusdam aspernatur a quaerat! Quibusdam porro, corporis nam, voluptates ipsum libero quos.</p>
	<h4>Assignment 4</h4>
	<h6>Sales tax</h6>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati optio beatae totam architecto sapiente similique porro laborum est, facere ipsam exercitationem expedita unde dolorem alias maiores, voluptates recusandae repellat dicta.</p>
	<h4>Assignment 5</h4>
	<h6>CRM</h6>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati optio beatae totam architecto sapiente similique porro laborum est, facere ipsam exercitationem expedita unde dolorem alias maiores, voluptates recusandae repellat dicta.</p>



</aside></div>

	<%=yield%>

<footer><%=Time.now.ctime%>
</footer>
</body>
</html>